/* =====================================================

   GENERAL PAGE

   ===================================================== */



* {

    box-sizing: border-box;

}



body {

    margin: 0;

    padding: 35px 0;

    background: #ffffff;

    color: #000000;

    font-family: "Times New Roman", serif;

}





/* =====================================================

   MAIN CV

   ===================================================== */



.cv {

    width: 900px;

    max-width: 92%;

    margin: auto;

    background-color: #f7f4e8;

    border: 1px solid #777;

    padding: 35px 45px;

}





/* =====================================================

   HEADER

   ===================================================== */



.header {

    display: grid;

    grid-template-columns: 170px 1fr 220px;

    align-items: center;

    min-height: 170px;

    border-bottom: 1px solid #777;

    padding-bottom: 20px;

}





/* =====================================================

   PROFILE IMAGE

   ====
